doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Yassine El Aamri - CV
    link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')
    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top#sideNav
      a.navbar-brand.js-scroll-trigger(href='#page-top')
        span.d-block.d-lg-none Yassine El Aamri
        span.d-none.d-lg-block
          img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#experience') Experience
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#education') Education
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#skills') Skills
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#interests') Interests
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#awards') Projects
    // Page Content
    .container-fluid.p-0
      // About
      section#about.resume-section
        .resume-section-content
          h1.mb-0
            | Yassine
            span.text-primary El Aamri
          .subheading.mb-5
            | United Kingdom · (+44) 7909 800 752 ·
            a(href='mailto:elaamriyass@gmail.com') elaamriyass@gmail.com
          p.lead.mb-5
            | A passionate and self-motivated developer, I transitioned from a career in tech support to pursue my love for programming. Having taught myself through various online courses, I’ve cultivated a strong foundation in software development, reflecting my drive to continuously learn and improve. My experience in technical support has equipped me with valuable transferable skills, such as problem-solving, troubleshooting, and communicating complex technical issues, all of which enhance my effectiveness as a programmer. I am excited to bring my enthusiasm and hands-on approach to building robust and efficient solutions in a development role.
          .social-icons
            a.social-icon(href='https://www.linkedin.com/in/el-aamri-yassine/', target='_blank')
              i.fab.fa-linkedin-in
            a.social-icon(href='https://github.com/yasslear', target='_blank')
              i.fab.fa-github
      hr.m-0
      // Experience
      section#experience.resume-section
        .resume-section-content
          h2.mb-5 Experience
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Technical Assistance Center - European Supervisor
              .subheading.mb-3 Interactive Brokers
              p
                | Promoted to Supervisor, where I oversaw and optimized technical assistance operations across all European offices. I was responsible for coaching and training the support team to ensure timely resolution of technical issues. Additionally, I streamlined workflows and improved processes in collaboration with internal teams and stakeholders. I also developed and implemented service level agreements (SLAs) and key performance indicators (KPIs) to measure and enhance service quality.
            .flex-shrink-0
              span.text-primary Feb 2023 - March 2024
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Technical Assistance Center - Senior Analyst
              .subheading.mb-3 Interactive Brokers
              p
                | Promoted to Senior Analyst, where I took on additional responsibilities as a subject matter expert, contributing to the development of best practices and creating knowledge base articles. I managed escalations, coordinating closely with development teams to drive effective issue resolution, while continuing to provide high-level technical support and guidance.
            .flex-shrink-0
              span.text-primary Feb 2022 - Feb 2023
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Technical Assistance Center - Representative
              .subheading.mb-3 Interactive Brokers
              p
                | Provided technical and functional support for mobile, desktop, and web applications via phone, chat, and ticketing systems. Responsibilities included conducting connectivity and network testing, ensuring security protocol compliance, and managing problem resolution for large-scale technical issues. Acted as a liaison between internal teams and customers to ensure timely resolution of bugs and issues, managed escalations to the development team, and addressed client inquiries regarding IBKR’s two-factor secure login system.
            .flex-shrink-0
              span.text-primary Jun 2021 - Feb 2022
      hr.m-0
      // Education
      section#education.resume-section
        .resume-section-content
          h2.mb-5 Education
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Full Stack Engineering
              .subheading.mb-3 Codecademy - Online
              p HTML, CSS, JavaScript, Python, Bootstrap, Git & GitHub, React, Redux, Node.js, Express.js, SQL, PostgreSQL, Web Security, Data Structures, Algorithms
            .flex-shrink-0
              span.text-primary Jan 2024 - Aug 2024
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 IT Technician Trainee / Cyber Security Analyst Trainee
              .subheading.mb-3 IT Career Switch - Online
              p Courses studied included: CompTIA A+, Network+, Security+, MCSA Microsoft Windows 7 & 10, Cisco CCENT.
            .flex-shrink-0
              span.text-primary Aug 2020 - Jun 2021
          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 Computer Software Engineering
              .subheading.mb-3 Xiangtan University - China
              p Software Engineering
            .flex-shrink-0
              span.text-primary Sep 2014 - Jun 2019
      hr.m-0
      // Skills
      section#skills.resume-section
        .resume-section-content
          h2.mb-5 Skills
          .subheading.mb-3 Programming Languages & Tools
          ul.list-inline.dev-icons
            li.list-inline-item
              i.fab.fa-html5
            li.list-inline-item
              i.fab.fa-css3-alt
            li.list-inline-item
              i.fab.fa-js-square
            li.list-inline-item
              i.fab.fa-react
            li.list-inline-item
              i.fab.fa-node-js
            li.list-inline-item
              i.fab.fa-github
            li.list-inline-item
              i.fab.fa-python
            li.list-inline-item
              i.fab.fa-node
            li.list-inline-item
              i.fab.fa-npm
          .subheading.mb-3 Key strengths
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-check
              | Troubleshooting and Debugging
            li
              span.fa-li
                i.fas.fa-check
              | Self-Learning and Continuous Improvement
            li
              span.fa-li
                i.fas.fa-check
              | Problem-Solving in Technical Environments
            li
              span.fa-li
                i.fas.fa-check
              | API Integration and Testing
            li
              span.fa-li
                i.fas.fa-check
              | Collaborative Teamwork and Knowledge Sharing
            li
              span.fa-li
                i.fas.fa-check
              | Time Management and Task Prioritization
            li
              span.fa-li
                i.fas.fa-check
              | User-Centered Solutions and Client Communication
      hr.m-0
      // Interests
      section#interests.resume-section
        .resume-section-content
          h2.mb-5 Interests
          p
            | I have a keen interest in languages, driven by a combination of my background and a curiosity to understand different cultures and ways of thinking. Over the years, I have dedicated time to learning several languages, both for personal growth and to better connect with people from diverse backgrounds. Hence, I am currently:
          ul.fa-ul.mb-0
            li
              i.fa-li.fa.fa-circle
              | Fluent in Arabic, English, and French.
            li
              i.fa-li.fa.fa-circle
              | Proficient in Chinese (Mandarin).
            li
              i.fa-li.fa.fa-circle
              | Learning Japanese.
      hr.m-0
      // Awards
      section#awards.resume-section
        .resume-section-content.mx-auto
          h2.mb-5 Portfolio Projects
          .resume-item.d-flex.flex-column.flex-md-row.mb-5
            .resume-content.mr-auto
              h3.mb-0 Project 1:
              .subheading.mb-3 Giphy.com Clone
              div Html, TailWindCSS, JavaScript, React, Giphy API
              hr
              p
                | Giphy.com clone built using React+Vite and the Giphy API. This project allows users to search for GIFs, view trending GIFs, and interact with GIFs (Share, Favorites) just like the original Giphy platform.
              a.btn.btn-primary.rounded-pill.mr-2(href='https://yassine-giphy-clone.netlify.app/', target='_blank') Live Demo
              a(href='https://github.com/yasslear/GiphyClone', target='_blank') Github Repository
          // Uncomment and update with actual image if needed
          // .resume-item.d-flex.flex-column.flex-md-row.mb-5
          //   .resume-date.text-md-right
          //     img.img-fluid.img-profile.mx-auto.pl-lg-5.mb-2(src='assets/img/giphyclone.jpg', alt='giphy clone screenshot')
    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='js/scripts.js')

